/* see pages/_app.js for where this is added */

.beat-count {
  height: inherit;
  width: inherit;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform var(--tapalong-animation-duration) ease-in-out,
    opacity var(--tapalong-animation-duration);
}

.curr {
  animation: fadeInFull var(--tapalong-animation-duration) linear;
  opacity: 1;
}

.prev {
  animation: fadeOutHalf var(--tapalong-animation-duration) linear;
  transition: all var(--tapalong-animation-duration);
  transform: translateX(calc(-1 * var(--tapalong-box-letter-spacing)));
}

.next {
  opacity: var(--tapalong-half-opacity);
  transition: all var(--tapalong-animation-duration);
  transform: translateX(var(--tapalong-box-letter-spacing));
}

.fade-in {
  animation: fadeInHalf linear var(--tapalong-animation-duration);
}

.fade-out {
  opacity: 0;
}

@keyframes fadeInFull {
  0% {
    opacity: var(--tapalong-half-opacity);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutHalf {
  0% {
    opacity: var(--tapalong-half-opacity);
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInHalf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: var(--tapalong-half-opacity);
  }
}

@-moz-keyframes fadeInHalf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: var(--tapalong-half-opacity);
  }
}

@-webkit-keyframes fadeInHalf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: var(--tapalong-half-opacity);
  }
}

@-o-keyframes fadeInHalf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: var(--tapalong-half-opacity);
  }
}

@-ms-keyframes fadeInHalf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: var(--tapalong-half-opacity);
  }
}
